<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>loginPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>signUpPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/signUp.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <jsp-file>/WEB-INF/jsp/account.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>errorPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/errorPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userAccessError</servlet-name>
        <jsp-file>/WEB-INF/jsp/userAccessError.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/WEB-INF/jsp/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>bidsPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/bids.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createBid</servlet-name>
        <jsp-file>/WEB-INF/jsp/createBid.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>directions</servlet-name>
        <jsp-file>/WEB-INF/jsp/directions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>rates</servlet-name>
        <jsp-file>/WEB-INF/jsp/rates.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>calculator</servlet-name>
        <jsp-file>/WEB-INF/jsp/calculator.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>manager</servlet-name>
        <jsp-file>/WEB-INF/jsp/manager.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>manager_all</servlet-name>
        <jsp-file>/WEB-INF/jsp/managerAll.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpPage</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAccessError</servlet-name>
        <url-pattern>/access_error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bidsPage</servlet-name>
        <url-pattern>/account/bids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBid</servlet-name>
        <url-pattern>/account/create_bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directions</servlet-name>
        <url-pattern>/home/directions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rates</servlet-name>
        <url-pattern>/home/rates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculator</servlet-name>
        <url-pattern>/home/calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager_all</servlet-name>
        <url-pattern>/manager/manager_all</url-pattern>
    </servlet-mapping>
</web-app>
